{
    "extends": "eslint:recommended",
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "rules": {
        "no-console": 0,
        "indent": 2,
        /* To turn of linting for unused functions
        Link reference: stackoverflow.com/questions/45399923
        */
        "no-unused-vars": "off"
    }
}